{
  "jsc": {
    "externalHelpers": false,
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": ".",
    "paths": {
      "@src": ["src"],
      "@src/*": ["src/*"],
      "@configs": ["src/configs"],
      "@configs/*": ["src/configs/*"],
      "@routes": ["src/routes"],
      "@routes/*": ["src/routes/*"],
      "@database": ["src/database"],
      "@database/*": ["src/database/*"],
      "@exceptions": ["src/exceptions"],
      "@exceptions/*": ["src/exceptions/*"],
      "@interfaces": ["src/interfaces"],
      "@interfaces/*": ["src/interfaces/*"],
      "@middlewares": ["src/middlewares"],
      "@middlewares/*": ["src/middlewares/*"],
      "@models": ["src/models"],
      "@models/*": ["src/models/*"],
      "@services": ["src/services"],
      "@services/*": ["src/services/*"],
      "@shared": ["src/shared"],
      "@shared/*": ["src/shared/*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
