{
  "jsc": {
    "externalHelpers": false,
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": "src",
    "paths": {
      "config": ["config"],
      "config/*": ["config/*"],
      "routes": ["routes"],
      "routes/*": ["routes/*"],
      "database": ["database"],
      "database/*": ["database/*"],
      "exceptions": ["exceptions"],
      "exceptions/*": ["exceptions/*"],
      "interfaces": ["interfaces"],
      "interfaces/*": ["interfaces/*"],
      "middlewares": ["middlewares"],
      "middlewares/*": ["middlewares/*"],
      "models": ["models"],
      "models/*": ["models/*"],
      "services": ["services"],
      "services/*": ["services/*"],
      "shared": ["shared"],
      "shared/*": ["shared/*"],
      "email-templates/*": ["email-templates/*"],
      "email-templates/": ["email-templates"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
